---
apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-dashboards
  labels:
    grafana_dashboard: "1"
data:
  gpu-assessment-dashboard.json: |
{{ .Files.Get "dashboards/gpu-assessment-dashboard.json" | indent 4 }}